/* Common */

.fluid1{
    background: url(../img/main.png);
    background-size: cover;
}

.container{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: auto;
}

h1{
    font-size: 40px;
    font-weight: 700;
}

@media (min-width: 768px) {
    h1{
        font-size: 60px;
    }
}

@media (min-width: 992px) {
    h1{
        font-size: 95px;
    }
}

h2, h3, h6{
    font-weight: 700;
}


/* episode link */
.episode, .category, .share{
    color: #8E8B8C;
    font-size: small;
}

img{
    max-width: 100%;
}


/* Header */

nav{
    font-size: 15px;
    font-weight: 700;
}

.navbar-nav li:first-child{
    text-decoration: underline;
}

.search{
    width: 100px;
    border: transparent;
    background: transparent;
}

.form-control{
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.searh-button{
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
}

.listen-button{
    font-size: 15px;
    width: 150px;
    padding: 3px 25px;
}

.listen-button > span{
    font-size: 10px;
}


/* After heading (absolute card) */

.newing{
    padding: 0;
}

.play{
    font-size: x-small;
    color: #8E8B8C;
}

.play-list{
    color: #8E8B8C;    
}

.section-invisible{
    margin-bottom: 150px;
}

@media (min-width: 768px) {
    .section-invisible{
        margin-bottom: 100px;
    }
}


/* Episode 1 */

.episode-img{
    transform: translateX(-7%);
}

.episode-left{
    transform: translateX(7%);
}


/* Main */

.card-text{
    color: #8E8B8C;
}

main, .podcast-slide{
    background: #F8F8F8;
}

.carousel-indicators [data-bs-target]{
    border-radius: 50%;
    width: 20px; 
    background: #000;
    margin: 15px
}


/* Mountain fluid */

@media (min-width: 768px) {
    .fa-play{
        margin: 10px;
    }
}

@media (min-width: 992px) {
    .fa-play{
        margin: 20px;
    }
}


/* Footer */
footer{
    background-color: #000;
    color: #eee;
}

.footer-h6{
    color: #969696;
}

.footer-address{
    color: #CCC;;
}

.footer-text{
    color: #969696;
    font-size: x-small;
}